
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

section{
  width: 100%;
}

.wrapper{
  width: 100%;
  margin: 0 auto;
}

@media only screen and (min-width: 769px) {

section{
  width: 100%;
  min-width: 1200px;
}
  .wrapper{
    width: 1080px;
    margin: 0 auto;
  }
}
